---
title: Rudolf van Gorsel - Project
---

<div class="projects-container __mobile __desktop">
  <div>
    <h3><b><%= name %></b></h3>
    <p><%= description %></p>
  </div>

  <div>
    <div class="slideshow-container">

      <!-- Full-width images with number and caption text -->
      <% images.each_with_index do |image, index| %>
      <div class="mySlides fade">
        <div class="numbertext"><%= index + 1%> / <%= images.length %></div>
        <%= image_tag image, :class => "slider-img"%>
      </div>
      <% end %>
    </div>
    <br>

    <!-- The dots/circles -->
    <div style="text-align:center">
      <% images.each_with_index do |image, index| %>
      <span class="dot" onclick="currentSlide(<%= index + 1 %>)"></span>
      <% end %>
    </div>
  </div>
</div>

<%= partial "layouts/projects_overview" %>


