---
title: Rudolf van Gorsel - Home
---
<div class="banner __desktop __mobile" style="background-image: linear-gradient(-225deg, rgba(41,49,51,0.7) 0%, rgba(41,49,51,0.7) 50%), url(<%= image_path 'achtergrond-rudolfvangorsel.jpg' %>);">
  <div class="banner-content">
    <h1>Rudolf van Gorsel ontwerp realisatie</h1>
    <p>Rudolf van Gorsel dienstverlening in vastgoed staat voor 20 jaar ervaring in het initïeren, beheer en exploiteren van vastgoed. We kennen een hele brede dienstverlening, die helemaal aansluit bij uw wensen.</p>
    <%= link_to "Wat kan ik voor je doen?", "#dienstverlening", class: "btn-banner" %>
  </div>
</div>

<!-- <a id="over-ons"></a>
<div class="over-ons__container">
  <div class="over-ons__text">
    <p>Rudolf van Gorsel dienstverlening in vastgoed staat voor 20 jaar ervaring in het initïeren, beheer en exploiteren van vastgoed. We kennen een hele brede dienstverlening, die helemaal aansluit bij uw wensen.</p>
  </div>
</div> -->

<a id="dienstverlening"></a>
<div class="stappenplan-container __mobile __desktop">
  <div class="over-ons__text">
    <h2 class="text-center">Onze Dienstverlening</h2>
  </div>
  <div class="stappenplan-flex">
    <div class="stappenplan-punten __mobile __desktop">
      <%= image_tag "objective.png" %>
      <h3>Exploitatie</h3>
      <div class="stappenplan-punt __mobile __desktop">
        <br>
        <p><b>Verhuurbemiddeling</b>
        </div>
        <div class="stappenplan-punt __mobile __desktop">
          <br>
          <p><b>Exploitatiebeheer</b>
          </div>
          <div class="stappenplan-punt __mobile __desktop">
            <br>
            <p><b>Exploitatieoptimalisatie</b>
            </div>
            <div class="stappenplan-punt __mobile __desktop">
              <br>
              <p><b>Portefeuille beheer</b>
              </div>
            </div>
            <div class="stappenplan-punten __mobile __desktop">
              <%= image_tag "chess-piece.png" %>
              <h3>Beheer</h3>
              <div class="stappenplan-punt __mobile __desktop">
                <br>
                <p><b>VVE-beheer</b><br>(bestuurlijk-financieel-technisch) voor kleine en middelgrote VVE’s (tot 25
                  wooneenheden)
                </div>
                <div class="stappenplan-punt __mobile __desktop">
                  <br>
                  <p><b>Oprichting VVE</b>
                  </div>
                  <div class="stappenplan-punt __mobile __desktop">
                    <br>
                    <p><b>Meerjaren onderhoudsplanning</b>
                    </div>
                    <div class="stappenplan-punt __mobile __desktop">
                      <br>
                      <p><b>Mutatieonderhoud</b>
                      </div>
                    </div>
                    <div class="stappenplan-punten __mobile __desktop">
                      <%= image_tag "puzzle-pieces.png" %>
                      <h3>Initiatief</h3>
                      <div class="stappenplan-punt __mobile __desktop">
                        <br>
                        <p><b>Vergunningstrajecten</b><br>legalisatie, splitsing, omzetting
                        </div>
                        <div class="stappenplan-punt __mobile __desktop">
                          <br>
                          <p><b>Meeloopkeuring</b>
                          </div>
                          <div class="stappenplan-punt __mobile __desktop">
                            <br>
                            <p><b>Bouwtechnische aankoopkeuring</b>
                            </div>
                            <div class="stappenplan-punt __mobile __desktop">
                              <br>
                              <p><b>Aankoopbegeleiding vastgoed</b>
                              </div>
                              <div class="stappenplan-punt __mobile __desktop">
                                <br>
                                <p><b>Transformatie retail- en kantoorvastgoed</b>
                                </div>
                              </div>
                            </div>
                          </div>

                          <a id="contact"></a>
                          <div class="contact-form-container">
                            <div class="contact-form-div">
                              <h3>Stel een vraag</h3>
                              <form method="POST" action="https://formspree.io/hello@pim.gg" class="contact-form">
                                <input type="hidden" name="_language" value="nl" />
                                <input type="hidden" name="_subject" value="Rudolf van Gorsel  - Offerte aanvraag" />
                                <input type="hidden" name="_next" value="https://pimmesz.github.io/RudolfVanGorsel-Middleman/" />
                                <input type="text" name="_gotcha" style="display:none" />

                                <input class="form-control" type="email" name="_replyto" placeholder="Email" />
                                <input class="form-control" type="text" name="name" placeholder="Naam">
                                <input class="form-control" type="tel" name="tel" placeholder="Telefoonnummer">

                                <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Message"></textarea>

                                <button type="submit" class="contact-form-button">Verzend vraag</button>
                              </form>
                            </div>
                            <div class="contact-form-div __mobile __desktop">
                              <div class=contact-form__box>
                                <h3>Adres</h3>
                                <p>Haagweg 66</p>
                                <p>4814 GG</p>
                                <p>BREDA</p>
                              </div>

                              <div class=contact-form__box>
                                <h3>Contact</h3>
                                <p>06-28713272</p>
                                <p>Info@rudolfvangorsel.nl</p>
                                <a href="https://www.linkedin.com/in/dignie-van-gorsel-74430828/" class="linkedin"><i class="fa fa-linkedin"></i> - LinkedIn</a>
                              </div>

                              <div class=contact-form__box>
                                <h3>Bedrijf</h3>
                                <p>KVK:20153925</p>
                                <p>nl36knab0254917488</p>
                                <p>Knab</p>
                              </div>
                            </div>
                            <p class="contact-form__sub-text"><i>Rudolf van Gorsel is een merk van Van Gorsel ontwerpˑrealisatie en opereert onder dezelfde bedrijfsgegevens</i></p>
                          </div>
