---
title: Van Gorsel - Home
---
<div class="banner __desktop __mobile" style="background-image: linear-gradient(-225deg, rgba(1,111,185,0.8) 0%, rgba(1,111,185,0.8) 50%), url(<%= image_path 'achtergrond-rudolfvangorsel.jpg' %>);">
  <div class="banner-content">
    <h1>Van Gorsel ontwerp realisatie</h1>
    <p>Wij zijn een multidicplinair adviesbureau dat ervaring, strategie en professionaliteit combineerd met een passie voor bouwen en gebouw.</p>
    <%= link_to "Wat kan ik voor je doen?", "#stappenplan", class: "btn btn-primary" %>
  </div>
</div>

<a id="over-ons"></a>
<div class="over-ons-container">
  <div>
    <%= image_tag "portrait-placeholder.jpg", :class => "portrait-img"%>
  </div>
  <div>
    <h1>Over ons</h1>
    <h5>Sinds de oprichting in 2009 heeft het zich ontwikkeld tot een bedrijf dat ontwerpt, bouwt en exploiteert. De kracht van ons bedrijf ligt in het combineren van deze drie facetten in de bouw- en vastgoedwereld. Op deze website ziet u een selectie van de projecten waar wij aan werken of welke we ontworpen en gerealiseerd hebben.</h5>
  </div>
</div>

<h2 class="text-center">Onze Kernwaarden</h2>
<div class="square-container __desktop __mobile">
  <div class="mainDiv">
    <div class="square1"></div>
    <div class="square0"></div>
    <div class="square2"></div>
  </div>
  <div class="square-text __desktop __mobile">
    <h1>VAN GORSEL</h1>
    <p><i>ontwerp ˑ realisatie</i></p>
  </div>
</div>

<div class="kernwaarden-container">
  <div class="kernwaarde ambitie __mobile __desktop">
    <div><h1>1</h1></div>
    <div><p>Ambitie uistraling ontwerp</p></div>
  </div>
  <div class="kernwaarde budget __mobile __desktop">
    <div><h1>2</h1></div>
    <div><p>Budget financieel prijs kwaliteit</p></div>
  </div>
  <div class="kernwaarde techniek __mobile __desktop">
    <div><h1>3</h1></div>
    <div><p>Techniek en duurzaamheid</p></div>
  </div>
</div>

<a id="stappenplan"></a>
<div class="stappenplan-container __mobile __desktop">
  <h2 class="text-center">Stappenplan</h2>
  <p class="stappenplan-text __mobile __desktop">Een goed gebouw is meer dan ruimte. Het brengt uw wensen en mogelijkheden samen met bouwtechniek en uitstraling. Het gaat uit van hoe u wilt leven, werken en/of recreeren. Het proces van het ontwerp is op gedeeld in fases.</p>
  <div class="stappenplan-punten __mobile __desktop">
    <div class="stappenplan-punt __mobile __desktop">
      <%= image_tag "search.png" %>
      <br>
      <p><b>1. Haalbaarheid</b><br>Samen kijken we naar de mogelijkheden van uw plannen. Wat zijn de wensen, uitstraling en hoeveel mag dit kosten. Aan het einde van deze fase heeft u een ontwerp met daarbij behorende indicatie van de kosten.</p>
    </div>
    <div class="stappenplan-punt __mobile __desktop">
      <%= image_tag "edit.png" %>
      <br>
      <p><b>2. Definitief ontwerp</b><br> Tijdens deze fase gaan we inzoomen op uw specifieke wensen en uitstraling. We stemmen materialen, bouwmethode, constructie en (installatie-)techniek op elkaar af.</p>
    </div>
  </div>
  <div class="stappenplan-punten __mobile __desktop">
    <div class="stappenplan-punt __mobile __desktop">
      <%= image_tag "notepad.png" %>
      <br>
      <p><b>3. Omgevingsvergunning</b><br> Uw plan wordt verder uitgewerkt. De tekeningen worden opgesteld, zodat de gemeente het plan kan toetsen op bouwbesluit eisen en overige planologische eisen.</p>
    </div>
    <div class="stappenplan-punt __mobile __desktop">
      <%= image_tag "flag.png" %>
      <br>
      <p><b>4. Uitvoeringsvoorbereiding</b><br> Om uw plan te kunnen realiseren worden gebouwonderdelen in kaartgebracht en gereedgemaakt voor de aanbesteding aan onderaannemers. Dit kan gaan om muren, daken en vloeren, maar ook om onderdelen zoals een badkamer of maatwerkkeuken.</p>
    </div>
  </div>
  <div class="stappenplan-punten __mobile __desktop">
    <div class="stappenplan-punt __mobile __desktop">
      <%= image_tag "notepad.png" %>
      <br>
      <p><b>5. Omgevingsvergunning</b><br> we kunnen direct door met de realisatie. Hierin kunnen we heel ver gaan. Zo kunnen wij uw project gebruiksklaar(link 004-6 / 004-7) maken inclusief stoffering en meubelen.</p>
    </div>
    <div class="stappenplan-punt __mobile __desktop">
      <%= image_tag "flag.png" %>
      <br>
      <p><b>6. oplevering en gebruik.</b></p>
    </div>
  </div>
</div>

<a id="projecten"></a>
<%= partial "layouts/projects_overview" %>

<a id="contact"></a>
<h2 class="text-center">Contact</h2>

<div class="contact-form-container __mobile __desktop">
  <div class="contact-form-div">
    <h3>Stel een vraag</h3>
    <form method="POST" action="https://formspree.io/hello@pim.gg" class="contact-form">
      <input type="hidden" name="_language" value="nl" />
      <input type="hidden" name="_subject" value="Van Gorsel  - Offerte aanvraag" />
      <input type="hidden" name="_next" value="https://pimmesz.github.io/Van-Gorsel-Middleman/" />
      <input type="text" name="_gotcha" style="display:none" />

      <input class="form-control" type="email" name="_replyto" placeholder="Email" />
      <input class="form-control" type="text" name="name" placeholder="Naam">
      <input class="form-control" type="tel" name="tel" placeholder="Telefoonnummer">

      <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Message"></textarea>

      <button type="submit" class="contact-form-button">Verzend vraag</button>
    </form>
  </div>

  <div class="contact-form-div">
    <h3>Offerte aanvragen</h3>
    <form method="POST" action="https://formspree.io/hello@pim.gg" class="contact-form">
      <input type="hidden" name="_language" value="nl" />
      <input type="hidden" name="_subject" value="Van Gorsel  - Offerte aanvraag" />
      <input type="hidden" name="_next" value="https://pimmesz.github.io/Van-Gorsel-Middleman/" />
      <input type="text" name="_gotcha" style="display:none" />

      <fieldset>
        <p><b>Particulier of bedrijf?</b></p>
        <input type="checkbox" name="particulier_of_bedrijf" value="Particulier">Particulier<br>
        <input type="checkbox" name="particulier_of_bedrijf" value="Bedrijf">Bedrijf<br>
      </fieldset>

      <fieldset>
        <p><b>Ik heb interesse in</b></p>
        <input type="checkbox" name="interesse_in" value="Ontwerp">Ontwerp<br>
        <input type="checkbox" name="interesse_in" value="Bouw">Bouw<br>
      </fieldset>

      <fieldset>
        <p><b>Werkzaamheden</b></p>
        <input type="checkbox" name="werkzaamheden" value="renovatie-of-restauratie">Renovatie/restauratie<br>
        <input type="checkbox" name="werkzaamheden" value="Verbouw">Verbouw<br>
        <input type="checkbox" name="werkzaamheden" value="Aan- en opbouw">Aan- en opbouw<br>
        <input type="checkbox" name="werkzaamheden" value="Nieuwbouw woonhuis">Nieuwbouw woonhuis<br>
        <input type="checkbox" name="werkzaamheden" value="Nieuwbouw bedrijfsruimte">Nieuwbouw bedrijfsruimte<br>
        <input type="checkbox" name="werkzaamheden" value="Advies">Advies<br>
      </fieldset>

      <fieldset>
        <p><b>Bijzonderheden</b></p>
       <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Bericht"></textarea>
     </fieldset>

     <fieldset>
      <p><b>Gegevens</b></p>
      <input type="checkbox" name="werkzaamheden" value="Dhr">Dhr.
      <input type="checkbox" name="werkzaamheden" value="Mvr.">Mvr.<br>
      <input class="form-control" type="text" name="name" placeholder="Naam">
      <input class="form-control" type="text" name="adres" placeholder="Adres">
      <input class="form-control" type="text" name="postcode" placeholder="Postcode">
      <input class="form-control" type="text" name="plaatsnaam" placeholder="Plaatsnaam">
      <input class="form-control" type="email" name="_replyto" placeholder="Email" />
      <input class="form-control" type="tel" name="tel" placeholder="Telefoonnummer">
     </fieldset>

      <button type="submit" class="contact-form-button">Verzend offerte aanvraag</button>
    </form>
  </div>
</div>
