---
title: Rudolf van Gorsel - Home
---
<!-- <div class="banner __desktop __mobile" style="background-image: linear-gradient(-225deg, rgba(1,111,185,0.8) 0%, rgba(1,111,185,0.8) 50%), url(<%= image_path 'achtergrond-rudolfvangorsel.jpg' %>);">
  <div class="banner-content">
    <h1>Rudolf van Gorsel ontwerp realisatie</h1>
    <p>Wij zijn een multidicplinair adviesbureau dat ervaring, strategie en professionaliteit combineerd met een passie voor bouwen en gebouw.</p>
    <%= link_to "Wat kan ik voor je doen?", "#dienstverlening", class: "btn btn-primary" %>
  </div>
</div> -->

<a id="over-ons"></a>
<div class="over-ons-container">
  <div>
    <%= image_tag "portrait-placeholder.jpg", :class => "portrait-img"%>
  </div>
  <div>
    <h1>Over ons</h1>
    <h5>Rudolf van Gorsel staat voor 20 jaar ervaring in het initïeren, beheer en exploiteren van vastgoed. We kennen een hele brede dienstverlening, die helemaal aansluit bij uw wensen.</h5>
  </div>
</div>

<a id="dienstverlening"></a>
<div class="stappenplan-container __mobile __desktop">
  <h2 class="text-center">Onze Dienstverlening</h2>
  <p class="stappenplan-text __mobile __desktop">Een goed gebouw is meer dan ruimte. Het brengt uw wensen en mogelijkheden samen met bouwtechniek en uitstraling. Het gaat uit van hoe u wilt leven, werken en/of recreeren. Het proces van het ontwerp is op gedeeld in fases.</p>
  <div class="stappenplan-punten __mobile __desktop">
    <div class="stappenplan-punt __mobile __desktop">
      <%= image_tag "search.png" %>
      <br>
      <p><b>Meeloopkeuring</b>
    </div>
    <div class="stappenplan-punt __mobile __desktop">
      <%= image_tag "edit.png" %>
      <br>
      <p><b>Bouwtechnische aankoopkeuring</b>
    </div>
    <div class="stappenplan-punt __mobile __desktop">
      <%= image_tag "edit.png" %>
      <br>
      <p><b>Meerjaren onderhoudsplanning</b>
    </div>
    <div class="stappenplan-punt __mobile __desktop">
      <%= image_tag "edit.png" %>
      <br>
      <p><b>Onderhouds werkzaamheden</b>
    </div>
  </div>
  <div class="stappenplan-punten __mobile __desktop">
    <div class="stappenplan-punt __mobile __desktop">
      <%= image_tag "search.png" %>
      <br>
      <p><b>Mutatieonderhoud</b>
    </div>
    <div class="stappenplan-punt __mobile __desktop">
      <%= image_tag "edit.png" %>
      <br>
      <p><b>Aankoopbegeleiding vastgoed</b>
    </div>
    <div class="stappenplan-punt __mobile __desktop">
      <%= image_tag "edit.png" %>
      <br>
      <p><b>Vergunningstrajecten legalisatie, splitsing</b>
    </div>
    <div class="stappenplan-punt __mobile __desktop">
      <%= image_tag "edit.png" %>
      <br>
      <p><b>Verhuurbemiddeling</b>
    </div>
  </div>
  <div class="stappenplan-punten __mobile __desktop">
    <div class="stappenplan-punt __mobile __desktop">
      <%= image_tag "search.png" %>
      <br>
      <p><b>Exploitatiebeheer</b>
    </div>
    <div class="stappenplan-punt __mobile __desktop">
      <%= image_tag "edit.png" %>
      <br>
      <p><b>Exploitatie optimalisatie</b>
    </div>
    <div class="stappenplan-punt __mobile __desktop">
      <%= image_tag "edit.png" %>
      <br>
      <p><b>Oprichting VVE</b>
    </div>
    <div class="stappenplan-punt __mobile __desktop">
      <%= image_tag "edit.png" %>
      <br>
      <p><b>VVE-beheer (bestuurlijk-financieel-technischbeheer) voor kleine en middelgrote VVE’s (tot 25 wooneenheden)</b>
    </div>
  </div>
</div>

<a id="contact"></a>
<div class="contact-form-container">
  <div class="contact-form-div __mobile __desktop">
    <div class=contact-form__box>
      <h3>Adres</h3>
      <p>Haagweg 66</p>
      <p>4814 GG</p>
      <p>BREDA</p>
    </div>

    <div class=contact-form__box>
      <h3>Contact</h3>
      <p>06-XXXXXXXX</p>
      <p>Info@rudolfvangorsel.nl</p>
    </div>

    <div class=contact-form__box>
      <h3>Bedrijf</h3>
      <p>BTW-ID-NUMMER:NL143525724B01</p>
      <p>KVK-NUMMER:20153925</p>
      <p>REKENINGNUMMER:nl36knab0254917488</p>
      <p>Knab</p>
    </div>
  </div>
  <p class="contact-form__sub-text"><i>Rudolf van Gorsel is een merk van Van Gorsel ontwerpˑrealisatie en opereerd onder dezelfde bedrijfsgegevens</i></p>
</div>
